body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
header,
.jarallax {
  height: 100%;
}
.line {
  border-bottom: 2px wheat solid;
}

@media (max-width: 940px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
  .line {
    border-bottom: none;
  }
}
.main {
  min-height: 90vh;
}

footer {
  left: 0;
  bottom: 0;
  right: 0;
}

.jarallax {
  background-image: url("./component/assets/b2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#error {
  width: 100%;
  height: 90vh;
  text-align: center;
}
